<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- How the log should be displayed? -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %-13logger{1} %msg%n"/>
        </Console>
    </Appenders>

    <!-- Interesting loggers -->
    <Loggers>
        <!-- The root logger, redirecting anything logged as Error to the console and ignoring the others -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <!--  A custom Logger, for this Idiot bot we are talking about -->
        <Logger name="sample.bot.Idiot" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- ******************************************
             ** Loggers defined by the Island Engine **
             ******************************************
          -->
        <Logger name="eu.ace_design.Island/Viewer" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="eu.ace_design.Island/Board" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>
</Configuration>